.slider {
    transition: transform 0.3s ease-in-out;
  }
  
  .slider-open {
    transform: translateX(-100%);
  }
  
  .slider-closed {
    transform: translateX(0);
  }
  
  .result-box {
    transition: transform 0.3s ease-in-out;
  }
  
  .result-box {
    transform: translateX(100%);
  }
  
  .result-box-open {
    transform: translateX(0);
  }
  
  .result-box-closed {
    transform: translateX(100%);
  }
  